ROOT = absolute/path/to/the/project/root
PYTHONPATH = ${ROOT}:${PYTHONPATH}

MLFLOW_TRACKING_URI=https://dagshub.com/<DagsHub-user-name>/<reposytory-name>.mlflow
MLFLOW_TRACKING_USERNAME=your_username
MLFLOW_TRACKING_PASSWORD=your_token
